<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceDescription" value="Sample Topshelf Host"/>
    <add key="ServiceDisplayName" value="Stuff"/>
    <add key="ServiceName" value="Stuff"/>
    <add key="ServiceBiometricIPDevice" value="192.168.0.125"/>
    <add key="ServiceBiometricPortDevice" value="4370"/>
  </appSettings>
</configuration>