.add {
    background-image: url( ../images/icons/add.png ) !important;
}
.remove {
    background-image: url( ../images/icons/remove.png ) !important;
}
.modify {
    background-image: url( ../images/icons/modify.png ) !important;
}
.save {
    background-image: url( ../images/icons/save.png ) !important;
}
.help16 {
    background-image: url( ../images/icons/help16x16.png ) !important;
}
.help48 {
    background-image: url( ../images/help48x48.png ) !important;
}
.diary16 {
    background-image: url( ../images/icons/diary16x16.png ) !important;
}
.diary48 {
    background-image: url( ../images/diary48x48.png ) !important;
}
.icon-master-table48 {
    background-image: url( ../images/mastertable48x48.png ) !important;
}
.icon-master-table16 {
    background-image: url( ../images/icons/mastertable16x16.png ) !important;
}
.icon-biometric-authorization16 {
    background-image: url( ../images/icons/biometric-authorization16x16.png ) !important;
}
.icon-biometric-authorization48 {
    background-image: url( ../images/biometric-authorization48x48.png ) !important;
}
