.recargar { background-image:url(../images/icons/recargar.png) !important; }
.adicionar { background-image:url(../images/icons/adicionar.png) !important; }
.ayuda { background-image:url(../images/icons/ayuda.png) !important; }
.buscar { background-image:url(../images/icons/buscar.png) !important; }
.eliminar { background-image:url(../images/icons/eliminar.png) !important; }
.doc { background-image:url(../images/icons/doc.png) !important; }
.modificar{ background-image:url(../images/icons/modificar.png) !important; }
.email { background-image:url(../images/icons/email.png) !important; }
.guardar { background-image:url(../images/icons/guardar.png) !important; }
.imagen { background-image:url(../images/icons/imagen.png) !important; }
.imprimir { background-image:url(../images/icons/imprimir.png) !important; }
.login { background-image:url(../images/icons/login.png) !important; }
.pdf { background-image:url(../images/icons/pdf.png) !important; }
.reporte { background-image:url(../images/icons/reporte.png) !important; }
